:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.list-category{
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: 3px solid white;
  text-align: center;
  border-radius: 5px;
}
.list-items{
  color: white;
  margin: 0;  
  text-align: center;
  list-style: none;
  cursor: pointer;
}